html {
  min-height: 100vh;
  min-width: 100vh;
}

body {
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.create-post {
  height: 13rem;
  width: 30rem;
}

.post {
  min-height: 4rem;
  width: 30rem;
  background-color: white;
  border-radius: 0.3rem;
}

.width-30rem {
  width: 30rem;
}
.App {
  background-color: lightblue;
  min-height: 100vh;
}
.nav-bar {
  background-color: #03fc0b;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(173, 216, 230, 0.2), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
}

.profile-image {
  width: 100%;
  max-width: 12rem;
}

/* For the time being the way to make the firebase pre-build ui fit better */
.firebaseui-list-item {
  list-style-type: none;
}

.firebaseui-idp-icon {
  height: 2rem;
  width: 5rem;
}

.firebaseui-idp-text-short {
  display: none;
}

.firebaseui-id-idp-button {
  width: 18rem;
  text-align: left;
  margin: 0.1rem;
}

.firebaseui-button {
  margin: 1rem 0.1rem;
}

#logout-image {
  height: 0.8rem;
}

#logout-button {
  height: 1.4rem;
}

.firebaseui-title {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: left;
}

#ui-sign-in-email-input {
  margin-left: 1rem;
  position: fixed;
  right: 46%;
  width: 16rem;
}

#ui-sign-in-password-input {
  margin-left: 1rem;
  position: fixed;
  right: 46%;
  width: 16rem;
}
